.error {
    color: orangered;
    font-size: 14px;
}
body {
    font-size: 14px;
    color: rgb(0, 0, 0);
    background: #78ff62;
}

.table {
    border: 2;
    width: 90%;
    -webkit-border-radius: 10px; /* Округления */
    -moz-border-radius: 10px; /* Округления */
    border-radius: 10px; /* Округления */
    display: inline-block;
    margin-left: auto;
    margin-right: auto; /* Делаем так, что бы блок обтягивал таблицу */
    /*overflow:hidden;*/
    /* Убираем все, что не поместилось в блок */
}

table, tr, td, th {
    border: 1px solid #484848; /* Обводка */
    border-collapse: collapse; /* Убираем двойные линии */
}

table tr:first-child td {
    border-top: 1px solid #000000;
    background: #a2ff99;
}
table tr:first-child td:last-child, table tr:first-child td:nth-child(6) {
    background: #ffac9d;
}

td, th {
    padding: 5px; /* Внутренний отступ */
    /*color: #070707; */
    /* Цвет */
    /*    font:12pt 'Patua One', cursive;*/
    /* Размер, семейство шрифта */
}

.time {
    width: 70px;
    height: 20px;

}

.tasks {
    position: relative;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background: #ffffff;
    border-radius: 10px;
}

.myButton {
    position: absolute;
    padding: 5px;
    height: 40px;
    width: 40px;
    top: 10px;
    right: 10px;
    font-size: 20px;
}
.create {
    position: relative;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    background: #ffffff;
    border-radius: 10px;
}
.eventName {
    width: 300px;

}
