
.edit-namelist {
    display: inline-block;
    margin-top: -15px;
}

.list-name {
    display: inline-block;
}

body {
    margin-left: 40%;
}

#add {
    margin-top: 12px;
    margin-left: 154px;
    width: 50px;
    height: 50px;
}

.list {
    margin-top: 20px;
    border: 2px outset black;
    width: 106px;
    height: 171px;
    border-radius: 8px;
}

.first {
    display: inline-block;
    position: absolute;
}

.second {
    display: inline-block;
    position: absolute;
    margin-left: 130px;
}

.third {
    display: inline-block;
    position: absolute;
    margin-left: 255px;
}

#content {
    margin-left: -15px;
}

h5 {
    margin-left: 7px;
}

header {
    margin-left: -58px;
}

.form {
    margin-top: 20px;
    width: 250px;
}

#category {
    margin-bottom: 15px;
}

#name {
    margin-bottom: 15px;
}

#count-goods {
    display: inline-block;
    position: absolute;
    margin-left: 260px;
    margin-top: -49px;
    width: 110px;
}

#price {
    display: inline-block;
    position: absolute;
    margin-left: 469px;
    margin-top: -49px;
    width: 110px;
}

textarea {
    resize: none;
}

.type-count {
    display: inline-block;
    width: 75px;
    position: absolute;
    margin: -49px auto auto 380px;
}

.add {
    margin: 13px auto auto 163px;
}

.update {
    margin: 13px auto auto 163px;
}

.cancel-update {
    margin: -34px auto auto 70px;
}

#save {
    height: 100px;
    width: 100px;
    position: absolute;
    right: 333px;
    top: 793px;
}

#goods-li {
    width: 600px;
    position: absolute;
    margin: 150px auto auto auto;
}

a, a:hover {
    text-decoration: none;
    border: none;
}

#list-name-input {
    width: 250px;
}
