body {
    padding-top: 20px;
    font-size: 16px;
    color: #245269;
    font-family: "Monaco", serif;
    line-height: 1.3;
    background: #f9f2f4;
}

h4 {
    display: inline;
}

.addForm {
    padding: 5px 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    width: 200px;
    background: #e7e7e7;
    margin-left: inherit;
    margin-right: auto;
    border-radius: 5px;
}

#login_logout {
    padding: 5px 20px;
    padding: 20px auto;
    width: 200px;
    background: #e7e7e7;
    margin-left: auto;
    margin-right: 0 border-radius : 5 px;
}

.error {
    color: #ff9468;
}

.addButton {
    display: inline-block;
    font-family: arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: rgb(68, 68, 68);
    text-decoration: none;
    user-select: none;
    padding: .2em 1.2em;
    outline: none;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 2px;
    background: rgb(245, 245, 245) linear-gradient(#f4f4f4, #f1f1f1);
    transition: all .218s ease 0s;
}

.addButton:hover {
    color: rgb(24, 24, 24);
    border: 1px solid rgb(198, 198, 198);
    background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

.addButton:active {
    color: rgb(51, 51, 51);
    border: 1px solid rgb(204, 204, 204);
    background: rgb(238, 238, 238) linear-gradient(rgb(238, 238, 238), rgb(224, 224, 224));
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1) inset;
}

.addClearButton {
    display: inline-block;
    font-family: arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: rgb(68, 68, 68);
    text-decoration: none;
    user-select: none;
    padding: .2em 1.2em;
    outline: none;
    border: 1px solid rgba(255, 148, 144, 0.80);
    border-radius: 2px;
    background: rgb(255, 159, 147) linear-gradient(#ff9a8e, #ff9490);
    transition: all .218s ease 0s;
}

.addClearButton:hover {
    color: rgb(24, 24, 24);
    border: 1px solid rgb(255, 148, 144);
    background: rgb(255, 159, 147) linear-gradient(#ff9a8e, #ff9490);
    box-shadow: 0 1px 2px rgba(255, 135, 134, 0.93);
}

.addClearButton:active {
    color: rgb(51, 51, 51);
    border: 1px solid rgb(255, 148, 144);
    background: rgba(255, 131, 131, 0.88) linear-gradient(rgb(255, 131, 131), rgb(255, 131, 131));
    box-shadow: 0 1px 2px rgba(255, 135, 134, 0.93) inset;
}