html, body {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 20px;
    font-size: 14px;
    color: #2b4d74;
    font-family: "Tahoma", sans-serif;
    line-height: 1.3;
    background: #7a9bb6;
}

.add-task {
    padding: 4px 40px;
    padding-top: 1px;
    padding-bottom: 30px;
    background: #ebfafc;
    width: 380px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.add-task input[type="text"] {
    width: 60%;
    border: 2px solid #2b4d74;
    margin-left: 2px;
}

.add-task .button {
    border: 2px solid #2b4d74;
    background-color: #ffffff;
    height: 30px;
    width: 120px;
}

.add-task textarea {
    border: 2px solid #2b4d74;
    margin-left: 2px;
}

.bottom {
    padding: 4px 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 380px;
    background: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 10px;
}

.bottom a {
    text-decoration: none;
}

.tasks {
    position: relative;
    padding: 10px;
    padding-bottom: 30px;
    background: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.tasks h1 {
    margin-left: 20px;
}

.tasks .add-button {
    position: absolute;
    top: 20px;
    right: 20px;
}

.tasks-area {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.task-row {
    width: 23%;
    display: inline-block;
    vertical-align: top;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.task-row .label-type {
    padding-left: 10px;
}

.task {
    position: relative;
    margin: 5px 5px;
    margin-bottom: 10px;
    padding: 5px 5px;
    padding-left: 20px;
    border-radius: 5px;
}

.tasks-new .task {
    background: #e0efff;
}

.tasks-doing .task {
    background: #9fffbf;
}

.tasks-check .task {
    background: #fff8b3;
}

.tasks-done .task {
    background: rgba(0, 0, 0, 0.06);
}

.date {
    font-size: 9px;
    top: 5px;
    right: 10px;
    opacity: 0.75;
}

.deadLine {
    font-size: 12px;
    font-style: italic;
    top: 15px;
    right: 10px;
    opacity: 0.75;

}

.error {
    font-size: 12px;
    color: #d2151f;
}

.failed {
    bottom: 5px;
    right: 5px;
    font-size: 15px;
    color: #d2151f;

}

.edit-button {
    width: 15px;
    padding-right: 5px;
}

.controls {
    text-align: right;
    margin-right: 10px;
    opacity: 0;
}

.tasks a {
    text-decoration: none;
}

.task-name {
    font-size: 16px;
    font-weight: bold;
}

.fa {
    color: #2b4d74;
    margin: 2px;
}

.priority {
    opacity: 0.75;
    font-size: 12px;
    float: left;
}

#new-task-adding {
    position: absolute;
    z-index: 10;
    top: 20px;
    right: 20px;
    display: none;
}

